<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register User</title>
</head>
<body>
<p>Please enter your name and pick the Sectors you are currently involved in.</p>
<form method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="userName">

  <br><br>
  <label for="sectors">Sectors:</label>
  <select multiple size="5" id="sectors" name="sectors">
    <option th:each="sec : ${sectors}"
            th:value="${sec.id}"
            th:text="${'&nbsp;'.repeat(sec.depth * 4)} + ${sec.name}">
    </option>
  </select>

  <br><br>
  <input type="checkbox" id="terms" name="terms">
  <label for="terms">Agree to terms</label>

  <br><br>
  <input type="submit" value="Save">
</form>
</body>
</html>